<body id="">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary  fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase" href="#"><img src="/assets/images/LogoLaduni.png" width="60"
          height="60">Laduni</a>
      <button class="navbar-toggler text-uppercase font-weight-bold  text-dark rounded" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link  px-0 px-lg-3 rounded" href="#aboutUs"
              (click)="ToggleNavBar()">About Us</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link  px-0 px-lg-3 rounded" href="#services"
              (click)="ToggleNavBar()">Services</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link  px-0 px-lg-3 rounded" href="#subjects"
              (click)="ToggleNavBar()">Subjects</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1"><a class="btn btn-primary btn-s" href="#sendinvite"
              (click)="ToggleNavBar()">Send Invite</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- top section -->
  <header class="masthead bg-primary text-start">
    <div class="container">
      <pre class="masthead-heading text-blue">Teach Anyone,
Learn Anything</pre>
      <pre class="text-primary"><h2>     Register as Our Instructor</h2></pre>
      <br>
      <div class="row">
      </div>

    </div>
  </header>

  <!-- About us section -->
  <section class="page-section  portfolio" id="aboutUs">
    <div class="container">

      <h2 class="page-section-heading text-center text-uppercase  mb-0">About Us</h2>

      <div class="divider-custom ">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="container d-flex align-items-center flex-column">
        <h5 class="masthead-subheading text-grey"><i>We makes education easier, join our comunity as mentor or
            student</i>
        </h5>
      </div>
      <br /><br>
      <div class="row justify-content-center">
        <div class="col-md-5 col-lg-5">
          <mat-card>
            <mat-card-content>
              <div class="container d-flex align-items-center flex-column">
                <pre class="paragraph text-muted">
Laduni is a web app online marketplace offer learning 
solution for students and working adult. It is a platforms
to find ways to learn subject you interested and meet
with expert mentor. Whether you are and expert or part
time tutor or just looking to share your knowledge, this
platform is a good opportunity to meet students and 
also learn from others. You decide your hourly fee
and viability which give you total flexibility.</pre>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-1 col-lg-1">
          <div class="divider-custom ">
            <div class="divider-custom-div"></div>
          </div>
        </div>
        <div class="col-md-5 col-lg-5">
          <mat-card>
            <mat-card-content>
              <div class="container d-flex align-items-center flex-column">
                <pre class=" text-blue"><h1>  Teach online
Earn money on
your schedule
                    </h1></pre>
                <div class="col-auto">
                  <a class="btn btn-primary btn-xl" href="#sendinvite">Send Invite</a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>
  </section>

  <!-- services section -->
  <section class="page-section  portfolio" id="services">
    <div class="container">

      <h2 class="page-section-heading text-center text-uppercase  mb-0">Services</h2>

      <div class="divider-custom ">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="container d-flex align-items-center flex-column">
        <h5 class="masthead-subheading text-grey"><i>Laduni Tech is an online tutoring and tuition platform.</i>
        </h5>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <mat-card>
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/arrow.png" alt="..." />
            <mat-card-content>
              <div class="container d-flex align-items-center flex-column">
                <h3 class="masthead-subheading text-dark">Matching students and mentors
                </h3>
                <p class="text-muted">Our app helps students at any level; be it for school or at a professional level
                  find mentors who are
                  a right fit for them.
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-card>
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/dashboard.png" alt="..." />
            <mat-card-content>
              <div class="container d-flex align-items-center flex-column">
                <h3 class="masthead-subheading text-dark">Intuitive Dashboard
                </h3>
                <p class="text-muted">Track performance and monitor progress with infographic style dashboard.
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-card>
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/easytouse.png" alt="..." />
            <mat-card-content>
              <div class="container d-flex align-items-center flex-column">
                <h3 class="masthead-subheading text-dark">Easy to Use
                </h3>
                <p class="text-muted">Make learning fun via our easy to use system which connects mentor and learners.
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-card>
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/search.png" alt="..." />
            <mat-card-content>
              <div class="container d-flex align-items-center flex-column">
                <h3 class="masthead-subheading text-dark">Search Lesson
                </h3>
                <p class="text-muted">Search to find the best tutors for you on our website or on your mobile.
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-card>
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/booking.png" alt="..." />
            <mat-card-content>
              <div class="container d-flex align-items-center flex-column">
                <h3 class="masthead-subheading text-dark">Choose a Tutor
                </h3>
                <p class="text-muted">Our tutors are specially selected through a rigorous screening procedure to
                  ensure top notch quality.
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-card>
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/review.png" alt="..." />
            <mat-card-content>
              <div class="container d-flex align-items-center flex-column">
                <h3 class="masthead-subheading text-dark">Start a Lesson and Reviews
                </h3>
                <p class="text-muted">Enter your online classroom and learn from your selected Tutor. Rate your Tutor
                  when you are done.
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  <!-- subject section -->
  <section class="page-section text-dark mb-0" id="subjects">
    <div class="container">

      <h2 class="page-section-heading text-center text-uppercase text-dark">Subjects</h2>

      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="container d-flex align-items-center flex-column">
        <h5 class="masthead-subheading text-grey"><i>Streamlining education.</i>
        </h5>
      </div>
      <br>
      <div class="row justify-content-center">

        <div class="col-md-8 col-lg-4 mb-2">
          <mat-card class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/computertechnology.png" width="600" height="400">
            <mat-card-content>
              <h3 class="masthead-subheading text-dark">Computer and Technology
              </h3>
              <p class="text-muted">Web Development & Programming
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-8 col-lg-4 mb-2">
          <mat-card class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/mathshistory.jpg" width="600" height="400">
            <mat-card-content>
              <h3 class="masthead-subheading text-dark">Science, Maths & History
              </h3>
              <p class="text-muted">SPM & LGSE
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-8 col-lg-4 mb-3">
          <mat-card class="example-card">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/arts.jpg" width="600" height="400">
            <mat-card-content>
              <h3 class="masthead-subheading text-dark">Arts, Crafts and Design
              </h3>
              <p class="text-muted">Digital & Traditional
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  <!-- sendinvite section -->
  <section class="page-bottom bg-sendinvite portfolio" id="sendinvite">
    <div class="container">

      <div class="container d-flex align-items-center flex-column">

        <h3 class="masthead-heading text-dark mb-0">READY TO GET STARTED? SIGN UP NOW!</h3>
        <br>
        <h6 class="masthead-subheading text-grey mb-0"><i>Notify me once your app launch!</i>
        </h6>
        <br>
        <div class="col-auto">
          <a class="btn btn-primary btn-xl" (click)="onSubscribe()">Send Invite</a>
        </div>

      </div>
    </div>
  </section>

  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Laduni Technology Sdn Bhd 2021</small></div>
  </div>

</body>